$brand-danger: rebeccapurple;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";
@import "bootstrap-datepicker3";

@import url(https://fonts.googleapis.com/css?family=Homemade+Apple|Walter+Turncoat);

body {
  padding: 40px;
  background-color: #b3ccff;
}

#task-form {
  display: none;
}


  a.task {
    color: 333;
    font-family: 'Walter Turncoat', arial, sans-serif;
    padding-left: 26px;
    font-size: 1.5em;
    &:hover {
      text-decoration: line-through;
    }
  }

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 8em;
  color: #f0f0f5;
  padding-left: 15%;
}

h3 {
  text-align: center;
  color: #3d3d5c;
}